<mat-card class="loginCard">
  <mat-card-title-group class="titleGroup">
    <mat-card-title>{{header}}</mat-card-title>
  </mat-card-title-group>
  <mat-card-content class="cardContent">
    <ng-content select="[content]"></ng-content>
  </mat-card-content>
  <mat-card-footer class="cardFooter">
    <ng-content select="[footer]"></ng-content>
  </mat-card-footer>
</mat-card>
