.loginCard {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 40%;
  margin: 5% auto;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 3px 3px 5px #e7e7e7;

  .titleGroup {
    margin-top: 20px;

    mat-card-title {
      font-style: italic;
      font-size: 32px;
    }
  }
  .cardContent {
    margin-top: 35px;
  }
  .cardFooter {
    margin-top: 20px;
  }
}
