<header-bar></header-bar>
<custom-card header="LOGIN">
  <div content>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <label>
        E-Mail:
        <input ngModel required placeholder="E-Mail" type="email" name="mail" />
      </label>
      <br />
      <label>
        Password:
        <input ngModel required placeholder="Password" type="password" name="password" />
      </label>
      <!-- SUBMIT -->
      <button type="submit" mat-raised-button color="primary">
        <mat-icon [inline]="true">login</mat-icon>
        <span> LogIn</span>
      </button>
    </form>
  </div>
  <div footer>
    <span class="error__message">{{statusMessage}}</span>
  </div>
</custom-card>
